*,
*::before,
*::after {
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: var(--azul-claro);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

/* ESTILOS DO HEADER */

.cabecalho {
    background-color: 	#ffffff;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 0 25px;
    z-index: 2;
}
.users{
    color: white;
  padding: 6px;
    background-color: #c9c9ff;
    border-radius: 10px;
    margin-right: 10px;
}

.logo {
    background-image: url(../img/images.png);
    height: 40px;
    width: 50px;
    background-repeat: round;
    cursor: pointer;
}

.footer{
   background-color:	#ffffff;
   width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    height:30px;
}

.direitos-footer{
    color: #c9c9ff;
    font-family: Poppins;
        text-align: center;
   padding-top: 10px;
    margin-top: 900px;
}

.cabecalho__videos {
    background-image: url(../img/cabecalho/video_call.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}

.cabecalho__sair {
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 10%;
    background-color: #c9c9ff;

}

/* ESTILOS DA SEÇÃO VÍDEOS */

.videos__container {
    color: black;
}

.mensagem {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mensagem__imagem {
    width: 30%;
}

.mensagem__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    font-size: 21px;
}

.pesquisar__input {
    width: 260px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid rgb(211, 211, 211);
    color: #c9c9ff;
}

.pesquisar__botao {
    background-image: url(../img/cabecalho/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 15px 15px;
    cursor: pointer;
}

@media(min-width: 834px) {

    body {
        height: 100vh;
    }

}
#divForm{
    height: 60%;
    margin-top: 10%;
}
#divForm a{
color: lightgray;
    text-decoration: none;
    font-size: 14px;
    margin-left: 75%;
}

.descricao-video a{
    font-family: Poppins;

}
.descricao-video h3{
    font-family: Poppins;

}